<?xml version="1.0"?>
<phpunit bootstrap="./tests/Bootstrap.php" colors="true">
    <testsuite name="SlmQueue tests">
        <directory>./tests</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>