<?php

/**
 * SlmQueue Beanstalk Configuration
 *
 * If you have a ./configs/autoload/ directory set up for your project, you can
 * drop this config file in it and change the values as you wish.
 */
return array(
    'slm-queue' => array(
        /**
         * Host for beanstalkd, by default this is 0.0.0.0
         */
        'host' => '0.0.0.0',

        /**
         * Port for beanstalkd, if you run on a different than default (11300)
         */
        //'port' => '',

        /**
         * Connection timeout beanstalkd, if required
         */
        //'connect_timeout' => '',

        /**
         * Tube(s) to ignore, can be a string or array of strings
         */
        //'ignore' => '',

        /**
         * Tube(s) to watch, can be a string or array of strings
         */
        //'watch' => '',

        /**
         * Tube to use to put jobs into, is none specified this is "default"
         */
        //'use' => '',
    ),
);