<?php

/**
 * SlmQueue Beanstalk Configuration
 *
 * If you have a ./configs/autoload/ directory set up for your project, you can
 * drop this config file in it and change the values as you wish (don't forget to remove the .dist part
 * in the filename !)
 */
return array(
    /**
     * Connection parameters for Pheanstalk
     */
    'connection' => array(
        /**
         * Host for beanstalkd, by default this is 0.0.0.0
         */
        // 'host' => '0.0.0.0',

        /**
         * Port for beanstalkd, if you run on a different than default (11300)
         */
        // 'port' => 11300,

        /**
         * Connection timeout beanstalkd, if required
         */
        // 'timeout' => 2
     ),

    /**
     * Parameters for Pheanstalk tubes
     */
    'tubes' => array(
        /**
         * Tubes to ignore (can be string or array)
         */
        // 'ignore' => '',

        /**
         * Tubes to watch (can be string or array)
         */
        // 'watch' => '',

        /**
         * Tube to use to put jobs into
         */
        // 'use' => ''
    ),

    /**
     * Max runs for jobs
     */
    // 'max_runs' => 100000,

    /**
     * Max memory allowed when jobs are executed
     */
    // 'max_memory' => 1024
 );
