name: "Unit tests"

on:
    pull_request:
        branches:
            - "master"
    push:
        branches:
            - "master"

jobs:
    unit-test:
        name: "Unit tests"
        runs-on: "ubuntu-20.04"
        strategy:
            matrix:
                php-version:
                    - "7.4"
                    - "8.0"
                    - "8.1"
                    - "8.2"
                dependencies:
                    - "highest"
                    - "lowest"
        steps:
            - name: "Checkout"
              uses: "actions/checkout@v2"

            - name: "Install PHP"
              uses: "shivammathur/setup-php@v2"
              with:
                  php-version: "${{ matrix.php-version }}"
              env:
                  COMPOSER_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            - name: "Install dependencies with Composer"
              uses: "ramsey/composer-install@v1"
              with:
                  dependency-versions: "${{ matrix.dependencies }}"
              env:
                  COMPOSER_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            - name: "Run PHPUnit"
              run: "composer test"
              env:
                  COMPOSER_TOKEN: ${{ secrets.GITHUB_TOKEN }}
